* {
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(112, 85, 41);
}

.white {
    background-color: #b49c6d;
}

.selected{
    background-color: grey;
}
.available{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
}

.currentPlayer{
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}
.lost{
    height: calc(50vh - 50px);
    padding: 20px;
    margin-left:30px;
    margin-bottom: 10px;
    background-color:lightgray;
}
.lost div{
    margin-top: 3px
}
.timer{
    margin-right: 30px;
}
.timer button{
    display: block;
    width: 150px;
    height: 40px;
}